if email
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') ToDoDo.
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href='#'): strong= email
          li: a(href='/'): i.fa.fa-home &nbsp; Home
          form.navbar-form.navbar-left(method='post', action='/logout')
            button.btn.btn-default: i.fa.fa-sign-out &nbsp; Log Out
