extends ../../layouts/master
block content
  .col-md-3
  .col-md-6
    .col-md-12
      form#msform(method='post', action='/users')
        fieldset
          .page-header.text-left
            h3 Create User
          .input-group.input-group-md
            span.input-group-addon: i.fa.fa-male
            input.form-control(type='email', name='email', placeholder='Email', autofocus=true)
          br
          .input-group.input-group-md
            span.input-group-addon: i.fa.fa-lock
            input.form-control(type='password', name='password', placeholder='Password')
          br
          .col-md-6.text-left
            button.btn.btn-primary Register
          .col-md-6.text-right
            a.btn.btn-default(href='/login') Back
  .col-md-6
